.dark {
    background-color: black;
    color: lightgray;
    padding: 5px;
}

.light {
    background-color: white;
    color: black;
    padding: 5px;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    height : 100%;
}